{% extends "base.html" %} /*herencia encabezado*/


{% block title %}
{{ producto["nombre"] }} | DOOMART
{% endblock %}


{% block content %}

<section class="detail-section">

    <div class="container">

        <article class="detail-card">


            <div class="detail-image-box">

                <img
                    src="{{ url_for(
                        'static',
                        filename='img/' + producto['imagen']
                    ) }}"
                    alt="{{ producto['nombre'] }}"
                    class="detail-image"
                >

                <span class="product-badge">

                    {{ producto["etiqueta"] }}

                </span>

            </div>



            <div class="detail-content">

                <span class="product-company">

                    {{ producto["empresa"] }}

                </span>


                <h1>

                    {{ producto["nombre"] }}

                </h1>


                <p>

                    {{ producto["descripcion"] }}

                </p>


                <div class="detail-info">

                    <div>
                        <h3>Características</h3>
                        <p>{{ producto["caracteristicas"] }}</p>
                    </div>


                    <div>
                        <h3>Daño al suelo</h3>
                        <p>{{ producto["danio_suelo"] }}</p>
                    </div>


                    <div>
                        <h3>Daño al aire</h3>
                        <p>{{ producto["danio_aire"] }}</p>
                    </div>


                    <div>
                        <h3>Daño al agua</h3>
                        <p>{{ producto["danio_agua"] }}</p>
                    </div>


                    <div>
                        <h3>Uso de recursos</h3>
                        <p>{{ producto["uso_recursos"] }}</p>
                    </div>


                    <div>
                        <h3>Plásticos y residuos</h3>
                        <p>{{ producto["plasticos_residuos"] }}</p>
                    </div>


                    <div>
                        <h3>Fuente</h3>
                        <p>{{ producto["fuente"] }}</p>
                    </div>

                </div>


                <a
                    href="{{ url_for('index') }}"
                    class="back-button"
                >
                    REGRESAR
                </a>

            </div>

        </article>

    </div>

</section>

{% endblock %}